body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 700;
  user-select: none;
  position: absolute;
}

#screen.waiting {
  background-color: teal;
}

#screen.ready {
  background-color: tomato;
}

#screen.now {
  background-color: yellowgreen;
}

.none {
  display: none;
}

.show {
  display: block;
  position: relative;
  font-weight: 700;
  top: 50px;
}
